header {
    text-align: center;
}

header h2 {
    display: inline-block;
    font-family: Helvetica, sans-serif;
    /* font-size: large; */
    color: bisque;
}

body {
    background: rgb(53, 90, 126);
    margin: 0;
    font-family: Helvetica, sans-serif;
}

form div label {
    /* flex-basis: 30%; */
    /* margin-right: 5px; */
    /* text-align: right; */
    /* width: 178px; set a fixed width for the labels     */
    font-family: Helvetica, sans-serif;
    color: bisque;

}

form div input[type="number"],
form div select {
    flex-basis: 50%;
    /* reduce the width of the input fields */
    padding: 5px;
    margin-right: 15px;
    /* add margin to the right of the input fields */
    border: 1px solid #ccc;
    border-radius: 5px;
}

form div button {
    /* set the width of the buttons */
    padding: 5px;
    border-radius: 5px;
}

#myForm>div.mode>label:nth-child(2) {
    text-align: start;
}

#myForm>div.mode>label:nth-child(4) {
    text-align: start;
}

#myForm>div:nth-child(8)>input[type=submit] {
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 920px){
    .fs-mobile{
        font-size: 0.75rem;
    }
}